dridmews/WebRoot/WEB-INF/wsdl/ChangePasswordRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 xmlns:tns="http://piglet.healthcodex.com/ChangePasswordRequest/1.0"
	 targetNamespace="http://piglet.healthcodex.com/ChangePasswordRequest/1.0"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xs:element name="ChangePasswordRequest" type="tns:ChangePasswordRequest"/>
	<xs:complexType name="ChangePasswordRequest">
		<xs:sequence>
			<xs:element name="username" type="xs:string"/>
			<xs:element name="password" type="xs:string"/>
			<xs:element name="tmp_password" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
