dridmews/WebRoot/WEB-INF/wsdl/ResetPasswordResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 xmlns:tns="http://piglet.healthcodex.com/ResetPasswordResponse/1.0"
	 targetNamespace="http://piglet.healthcodex.com/ResetPasswordResponse/1.0"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xs:element name="ResetPasswordResponse" type="tns:ResetPasswordResponse"/>
	<xs:complexType name="ResetPasswordResponse">
		<xs:sequence>
			<xs:element name="response" type="xs:string"/>
			<xs:element name="email" type="xs:string"/>
			<xs:element name="tmp_password" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
